<div class="row mb-2">
    <div class="col">
        <h3 class="one">Employee reviews list</h3>
    </div>
    <div class="col-auto">
        <button class="btn btn-success pull-right" title="add review" (click)="openModalReview(template, 'Add')">
            <svg class="bi bi-file-earmark-plus" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z" />
                <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
            </svg>
        </button>
        <button class="btn btn-outline-dark pull-right ml-2" routerLink="/admin/employees">Back</button>
    </div>
</div>
<hr />
<div class="card bg-light" style="width: 100%;">
    <div class="card-body">
        <div class="row form-group">
            <div class="col-3">
                <p class="card-text">Employee Name: {{ employeeInfo?.first_name }} {{ employeeInfo?.last_name }}</p>
            </div>
            <div class="col-3">
                <p class="card-text">Job Title: {{ employeeInfo?.job_title }}</p>
            </div>
            <div class="col-3">
                <p class="card-text">Department: {{ employeeInfo?.department }}</p>
            </div>
            <div class="col-3">
                <p class="card-text">Email: {{ employeeInfo?.email }} </p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Reviewers</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </div>
</div>


<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Quality of work</th>
            <th scope="col" class="text-center">Team worker</th>
            <th scope="col" class="text-center">Initiative</th>
            <th scope="col" class="text-center">Communication</th>
            <!-- <th scope="col">Attitude</th> -->
            <th scope="col">Review Period</th>
            <th scope="col">Feedback</th>
            <th scope="col">Reviewer</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let review of reviews; index as i;">
            <th scope="row">{{ i + 1 }}</th>
            <td class="text-center">
                <rating name='quality_work' [(ngModel)]="review.quality_work" [max]="max" [readonly]="isReadonly"
                    (onHover)="hoveringOver($event)"></rating>
            </td>
            <td class="text-center">
                <rating name='relation_coworkers' [(ngModel)]="review.relation_coworkers" [max]="max" [readonly]="isReadonly"
                    (onHover)="hoveringOver($event)"></rating>
            </td>
            <td class="text-center">
                <rating name='initiative' [(ngModel)]="review.initiative" [max]="max" [readonly]="isReadonly" (onHover)="hoveringOver($event)"></rating>
            </td>
            <td class="text-center">
                <rating name='communication' [(ngModel)]="review.communication" [max]="max" [readonly]="isReadonly"
                    (onHover)="hoveringOver($event)"></rating>
            </td>
            <td>{{review.time_period_from | date:'yyyy-MM-dd'}} ~ {{review.time_period_to | date:'yyyy-MM-dd'}}</td>
            <td>{{review.feedback}}</td>
            <td>{{review.reviewer}}</td>
            <td class="text-center">
                <a href="javascript:void(0)" class="pr-2" title="update employee review" (click)="openModalReview(template,'Edit', review)">
                    <svg class="bi bi-pencil-square" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{actionType}} Review</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Quality of work:</label>
                    <span class="ml-2">
                        <rating [(ngModel)]="review.qualityWork" name='work' [max]="max" (onHover)="hoveringOver($event)"
                            (onLeave)="resetStar()"></rating>
                    </span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Team worker:</label>
                    <span class="ml-2">
                        <rating [(ngModel)]="review.relationCoworkers" name='team' [max]="max" (onHover)="hoveringOver($event)"
                            (onLeave)="resetStar()"></rating>
                    </span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Initiative: </label>
                    <span class="ml-2">
                        <rating [(ngModel)]="review.initiative" name='initiative' [max]="max" (onHover)="hoveringOver($event)"
                            (onLeave)="resetStar()"></rating>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Communication: </label>
                    <span class="ml-2">
                        <rating [(ngModel)]="review.communication" name='comm' [max]="max" (onHover)="hoveringOver($event)"
                            (onLeave)="resetStar()"></rating>
                    </span>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Review Period From: </label>
                    <input type="date" [(ngModel)]="review.timePeriodFrom" name='from' class="form-control" id="validationDefault03"
                        required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Review Period To: </label>
                    <input type="date" [(ngModel)]="review.timePeriodTo" name='to' class="form-control" id="validationDefault03"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Feedback</label>
                <textarea class="form-control w-100" [(ngModel)]="review.feedback" name='feedback' maxlength="100" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <hr />
            <div class="float-right">
                <button class="btn btn-primary" type="submit" (click)='addUpdateReview()'>Submit</button>
            </div>
        </form>
    </div>
</ng-template>